
#vertical-line li .vertical-line, a 
{
    padding: 0px 0px 0px 20px;
    position: relative; 
}


/* Below is the code for the vertical lines */
#vertical-line li .vertical-line:after 
{
    content:""; 
    background: rgb(144, 166, 152); 
    position: absolute; 
    top: 1;
    left: 0; 
    height: 10px; 
    width: 0.5px;
}

#vertical-line1 li .vertical-line{
    padding: 0px 0px 0px 20px;
    position: relative; 
}

#vertical-line1 li a{
    padding: 0px 0px 0px 20px;
    position: relative; 
    
}

#vertical-line1 li .vertical-line::after{
    content:""; 
    background: rgb(144, 166, 152); 
    position: absolute; 
    bottom: 1; 
    left: 0; 
    height: 10px; 
    width: 0.5px;
}

.vertical-line13:after {
    content:""; 
    background: rgb(144, 166, 152); 
    position: absolute;
    bottom: 1; 
    left: 0px; 
    height: 10px; 
    width: 1.5px;

}