

.loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #76A713, 1.8em -1.8em 0 0em #76a71371, 2.5em 0em 0 0em #76a71371, 1.75em 1.75em 0 0em #76a71371, 0em 2.5em 0 0em #76a71371, -1.8em 1.8em 0 0em #76a71371, -2.6em 0em 0 0em #76a71396, -1.8em -1.8em 0 0em #76a713b3;
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em #76a713b3, 1.8em -1.8em 0 0em #76A713, 2.5em 0em 0 0em #76a71371, 1.75em 1.75em 0 0em #76a71371, 0em 2.5em 0 0em #76a71371, -1.8em 1.8em 0 0em #76a71371, -2.6em 0em 0 0em #76a71371, -1.8em -1.8em 0 0em #76a71396;
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em #76a71396, 1.8em -1.8em 0 0em #76a713b3, 2.5em 0em 0 0em #76A713, 1.75em 1.75em 0 0em #76a71371, 0em 2.5em 0 0em #76a71371, -1.8em 1.8em 0 0em #76a71371, -2.6em 0em 0 0em #76a71371, -1.8em -1.8em 0 0em #76a71371;
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em #76a71371, 1.8em -1.8em 0 0em #76a71396, 2.5em 0em 0 0em #76a713b3, 1.75em 1.75em 0 0em #76A713, 0em 2.5em 0 0em #76a71371, -1.8em 1.8em 0 0em #76a71371, -2.6em 0em 0 0em #76a71371, -1.8em -1.8em 0 0em #76a71371;
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em #76a71371, 1.8em -1.8em 0 0em #76a71371, 2.5em 0em 0 0em #76a71396, 1.75em 1.75em 0 0em #76a713b3, 0em 2.5em 0 0em #76A713, -1.8em 1.8em 0 0em #76a71371, -2.6em 0em 0 0em #76a71371, -1.8em -1.8em 0 0em #76a71371;
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em #76a71371, 1.8em -1.8em 0 0em #76a71371, 2.5em 0em 0 0em #76a71371, 1.75em 1.75em 0 0em #76a71396, 0em 2.5em 0 0em #76a713b3, -1.8em 1.8em 0 0em #76A713, -2.6em 0em 0 0em #76a71371, -1.8em -1.8em 0 0em #76a71371;
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em #76a71371, 1.8em -1.8em 0 0em #76a71371, 2.5em 0em 0 0em #76a71371, 1.75em 1.75em 0 0em #76a71371, 0em 2.5em 0 0em #76a71396, -1.8em 1.8em 0 0em #76a713b3, -2.6em 0em 0 0em #76A713, -1.8em -1.8em 0 0em #76a71371;
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em #76a71371, 1.8em -1.8em 0 0em #76a71371, 2.5em 0em 0 0em #76a71371, 1.75em 1.75em 0 0em #76a71371, 0em 2.5em 0 0em #76a71371, -1.8em 1.8em 0 0em #76a71396, -2.6em 0em 0 0em #76a713b3, -1.8em -1.8em 0 0em #76A713;
    }
  }
  
  




/* ---------------------------- */
#toggle{
    position: fixed;
    top: 260px;
    right: 60px;
    height: 60px;
    width: 60px;
    background-color: #17B0FF;
    cursor: pointer;
    text-align: center;
}
#toggle::after{
    content: "";
    position: absolute;
    top: 30px;
    right: 15px;
    width: 28px;
    height: 2px;
    background: #fff ;
    transform: translateY(5px);
    transition: 0.2s; 
}
#toggle::before{
    content: "";
    position: absolute;
    top: 30px;
    width: 28px;
    right: 15px;
    height: 2px;
    background: #fff ;
    transform: translateY(-5px);
    transition: 0.2s;
}
#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}
#sidebar{
    position: fixed;
    top: 100;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #003147;
    transition: 0.5s;
}
#sidebar.active{
    left: 0px;
}
#sidebar ul{
    position: relative;
    margin-top: 50px;
}

#sidebar ul li{
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
}

#sidebar ul li:hover{
    background: #03a9f4;
}
#sidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 2px;
}

/* ----------------------------------------- */
.topBar {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #110135;
}
.menuBar {
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-end;
  width: 100%;
}

.navIcon {
  width: 55px;
  display: flex;
  margin-right: 4rem;
  margin-left: 1.5rem;  
  cursor: pointer;
}
.sideMenu {
  left: 0;
  height: 100%;
  width: 260px;
  position: fixed;
  background: rgb(249, 249, 249);
  transition: all 0.35s ease-out;
}
.sideMenu a {
  display: flex;
  align-content: flex-start;
  text-decoration: none;
  font-weight: 600;
  color:rgba(0, 0, 0, 0.8);
  padding: 1rem 1.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sideMenu a:hover {
  color: rgb(40, 0, 148);
}
/* ------------------------------------------------ */
.slide a {text-decoration : none; color : #2d2f31;}
.nav-test {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}

.side-dropdown{
    left: 300px;
}

.nav-test span {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

.nav-test span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {padding : 20px;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 


#category-dropdown ul{
    margin: 0;
    padding: 0;
    /* list-style: none; */
    overflow: hidden;
}

#category-dropdown ul:hover {
    overflow: visible;
  }

 #dropdown-style ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
#dropdown-style ul:hover {
    overflow: visible;
  }
#dropdown-style  li {
    position: relative;
    float: left;
    background-color: #17B0FF;
  }
  #dropdown-style  li:hover {
    background-color: #189BDF;
  }
  #dropdown-style a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  /* second level */
  #dropdown-style ul ul {
    max-height: 0;
    transition: max-height 1s;
  }
  #dropdown-style ul li:hover ul {
    max-height: 999px;
  }
  #dropdown-style ul ul li {
    float: none;
    background-color: #189BDF;
  }
  #dropdown-style ul ul li:hover {
    background-color: #1289C7;
  }
  
  /* third level */
  #dropdown-style ul ul ul {
    position: absolute;
    width: 0;
    top: 0;
    left: 100%;
    transition: width 0.5s;
  }
  #dropdown-style  ul ul li:hover ul {
    width: 100%;
  }
  #dropdown-style  ul ul ul li {
    background-color: #DF7F18;
  }
  #dropdown-style  ul ul ul li:hover {
    background-color: #C77115;
  }

  /* ------------------------------------- */
  
/* ----------------------------------------- */





.left_2 img {
    width: 200%;
    height: 200%;
    object-fit: contain;
}

.Apps {
  font-family: sans-serif;
  text-align: center;
}

.perimeter {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.image {
  flex: 0 0 100%;
}

.copy {
  padding: 20px;
  font-family: sans-serif;
}

@media (min-width: 415px) {
  .perimeter {
    flex-direction: row;
  }
  
  .image {
    flex: 0 0 50%;
  }
}

@media (min-width: 800px) {
  .image {
    flex: 0 0 33.5%;
  }
}


.banner-titles , .banner-title-2{
  /* font-size: 60px; */
  /* white-space: nowrap;
  position: relative;
  color: transparent; */
}

.banner-title::before{
  content: 'Get Fresh Organic';
  position: absolute;
  top: 0;
  left: 0;
  /* color: white; */
  animation: typing-1 10s linear infinite;
}

.banner-title-2::before{
  content: 'Food Everyday';
  position: absolute;
  top: 0;
  left: 0;
  /* color: white; */
  animation: typing-2 10s linear infinite;
}

@keyframes typing-1 {
  0% {
      content: 'G|';
  }

  2% {
      content: 'Ge|';
  }

  4% {
      content: 'Get|';
  }

  6% {
      content: 'Get F|';
  }

  8% {
      content: 'Get Fr|';
  }

  10% {
      content: 'Get Fre|';
  }

  12% {
      content: 'Get Fres|';
  }

  14% {
      content: 'Get Fresh|';
  }

  16% {
      content: 'Get Fresh O|';
  }

  18% {
      content: 'Get Fresh Or|';
  }

  20% {
      content: 'Get Fresh Org|';
  }

  22% {
      content: 'Get Fresh Orga |';
  }

  24% {
      content: 'Get Fresh Organ|';
  }

  26% {
      content: 'Get Fresh Organi|';
  }
  28% {
      content: 'Get Fresh Organic|';
  }
  30% {
      content: 'Get Fresh Organic';
  }
  32% {
      content: 'Get Fresh Organic';
  }
  34% {
      content: 'Get Fresh Organic';
  }
  36% {
      content: 'Get Fresh Organic';
  }
  38% {
      content: 'Get Fresh Organic';
  }
  40% {
      content: 'Get Fresh Organic';
  }
  42% {
      content: 'Get Fresh Organic';
  }
  44% {
      content: 'Get Fresh Organic';
  }
  46% {
      content: 'Get Fresh Organic';
  }
  48% {
      content: 'Get Fresh Organic';
  }
  50% {
      content: 'Get Fresh Organic';
  }
  52% {
      content: 'Get Fresh Organic';
  }
  54% {
      content: 'Get Fresh Organic';
  }
  56% {
      content: 'Get Fresh Organic';
  }
  58% {
      content: 'Get Fresh Organic';
  }
  60% {
      content: 'Get Fresh Organic';
  }
  62% {
      content: 'Get Fresh Organic';
  }
  64% {
      content: 'Get Fresh Organic';
  }
  66% {
      content: 'Get Fresh Organic';
  }
  68% {
      content: 'Get Fresh Organic';
  }
  70% {
      content: 'Get Fresh Organic';
  }
  72% {
      content: 'Get Fresh Organic';
  }
  74% {
      content: 'Get Fresh Organic';
  }
  76% {
      content: 'Get Fresh Organic';
  }
  78% {
      content: 'Get Fresh Organic';
  }
  79% {
      content: 'Get Fresh Organic';
  }
  80% {
      content: 'Get Fresh Organic';
  }
  81% {
      content: 'Get Fresh Organic';
  }
  82% {
      content: 'Get Fresh Organic';
  }
  83% {
      content: 'Get Fresh Organic';
  }
  84% {
      content: 'Get Fresh Organi|';
  }
  85% {
      content: 'Get Fresh Organ|';
  }
  86% {
      content: 'Get Fresh Orga|';
  }
  87% {
      content: 'Get Fresh Org|';
  }
  88% {
      content: 'Get Fresh Or|';
  }
  89% {
      content: 'Get Fresh O|';
  }
  90% {
      content: 'Get Fresh|';
  }
  91% {
      content: 'Get Fres|';
  }
  92% {
      content: 'Get Fre|';
  }
  93% {
      content: 'Get Fr|';
  }
  94% {
      content: 'Get F|';
  }
  95% {
      content: 'Get|';
  }
  96% {
      content: 'Ge|';
  }
  97% {
      content: 'G|';
  }
  98% {
      content: '';
  }
  99% {
      content: '';
  }
  100% {
      content: '';
  }
}

@keyframes typing-2 {
  0% {
      content: '';
  }
  2% {
      content: '';
  }
  4% {
      content: '';
  }
  6% {
      content: '';
  }
  8% {
      content: '';
  }
  10% {
      content: '';
  }
  12% {
      content: '';
  }
  14% {
      content: '';
  }
  16% {
      content: '';
  }
  18% {
      content: '';
  }
  20% {
      content: '';
  }
  22% {
      content: '';
  }
  24% {
      content: '';
  }
  26% {
      content: '';
  }
  28% {
      content: '';
  }

  30% {
      content: 'F|';
  }

  32% {
      content: 'Fo|';
  }

  34% {
      content: 'Foo|';
  }

  36% {
      content: 'Food|';
  }
  38% {
      content: 'Food E|';
  }

  40% {
      content: 'Food Ev|';
  }

  42% {
      content: 'Food Eve|';
  }

  44% {
      content: 'Food Ever|';
  }

  46% {
      content: 'Food Every|';
  }

  48% {
      content: 'Food Everyd|';
  }

  50% {
      content: 'Food Everyda|';
  }

  52% {
      content: 'Food Everyday';
  }
  54% {
      content: 'Food Everyday';
  }
  56% {
      content: 'Food Everyday';
  }
  58% {
      content: 'Food Everyday';
  }
  60% {
      content: 'Food Everyday';
  }
  62% {
      content: 'Food Everyday';
  }
  64% {
      content: 'Food Everyday';
  }
  66% {
      content: 'Food Everyday';
  }
  68% {
      content: 'Food Everyday';
  }
  70% {
      content: 'Food Everyday';
  }
  72% {
      content: 'Food Everyday';
  }
  74% {
      content: 'Food Everyda|';
  }
  75% {
      content: 'Food Everyd|';
  }
  76% {
      content: 'Food Every|';
  }
  77% {
      content: 'Food Ever|';
  }
  78% {
      content: 'Food Eve|';
  }
  79% {
      content: 'Food Ev|';
  }
  80% {
      content: 'Food E|';
  }
  81% {
      content: 'Food|';
  }
  82% {
      content: 'Foo|';
  }
  83% {
      content: 'Fo|';
  }
  84% {
      content: 'F|';
  }
  85% {
      content: '';
  }
  100% {
      content: '';
  }
}