#select-component .css-1s2u09g-control{
    border: none;
    border-width: 0px;
}
#select-component .css-1pahdxg-control{
    border: none;
    border-width: 0px;
    border-radius: 0px;
    box-shadow: none;
}

#select-component .css-1okebmr-indicatorSeparator{
    display: none;
}


#top-header-select-component .css-1okebmr-indicatorSeparator{
    display: none;
}
#top-header-select-component .css-319lph-ValueContainer{
    padding: 0;
}


