/* product button animate */
.btn-animate{
    background-image: linear-gradient(#76A713,#76A713);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s ;
  }
.btn-animate:hover {
    background-size: 100% 100%;

  }

#select-component .css-1s2u09g-control{
    border: none;
    border-width: 0px;
}
#select-component .css-1pahdxg-control{
    border: none;
    border-width: 0px;
    border-radius: 0px;
    box-shadow: none;
}

#select-component .css-1okebmr-indicatorSeparator{
    display: none;
}


#top-header-select-component .css-1okebmr-indicatorSeparator{
    display: none;
}
#top-header-select-component .css-319lph-ValueContainer{
    padding: 0;
}

/* custom Badge */
.customBadge{
    padding: 5px 14px;
    position: absolute;
    top: 0;
    border-bottom-right-radius: 1rem;
    display: inline-block;
    
}










